<div cdkDrag class="flex w-full flex-1 grow flex-row items-center gap-4">
  <div
    cdkDragHandle
    [id]="teamleader()?.id ?? 'unaffected'"
    class="flex h-[200px] min-w-[200px] cursor-grab flex-col items-center justify-center gap-2 rounded-xl p-3"
    [ngStyle]="{
      'background-color': teamleader() ? (teamleader()?.color ? teamleader()?.color : '#00598A') : '#052F4A',
    }"
  >
    @if (teamleader()?.firstname && teamleader()?.lastname) {
      @if (!areAllFullTimeOperators()) {
        <div #tooltipOriginTeamleader (mouseenter)="openTooltip(tooltipOriginTeamleader)" (mouseleave)="closeTooltip()">
          <mat-icon class="text-yellow-600">warning</mat-icon>
        </div>
      }
      <p
        class="cursor-pointer font-bold text-white underline"
        [routerLink]="['/users', teamleader()?.id]"
        [matTooltip]="tr.language().TEAMLEADER + ': ' + teamleader()?.firstname + ' ' + teamleader()?.lastname"
      >
        {{ teamleader()?.firstname }} {{ teamleader()?.lastname | initialLetter: 'all' }}
      </p>

      <mat-icon [svgIcon]="'team'" class="custom-color-icon text-white" style="--custom-color: 'white'"></mat-icon>

      <mat-select
        class="custom-operator-select-panel min-w-[180px] max-w-[180px] !p-1"
        [compareWith]="compareById"
        [value]="teamleader()?.affectedOperators"
        panelClass="custom-operator-select-panel"
        (closed)="affectOperator(select.value)"
        multiple
        #select
      >
        @for (operator of orderedAvailableOperators(); track operator.userId) {
          <mat-option
            [value]="operator"
            [disabled]="planningService.lastDayOfWeek() < planningService.today.startOf('day')"
          >
            {{ operator.fullName }}
          </mat-option>
        }
      </mat-select>
    } @else {
      <mat-icon
        [svgIcon]="'mission'"
        class="custom-color-icon cursor-pointer text-white"
        style="--custom-color: 'white'"
      ></mat-icon>

      <p class="text-white">{{ tr.language().MISSIONS_UNAFFECTED }}</p>
      <mat-icon
        [svgIcon]="'info'"
        class="custom-color-icon cursor-pointer text-white"
        style="--custom-color: 'white'"
      ></mat-icon>
    }
  </div>

  <div class="flex gap-2">
    @for (day of daysOfTheWeek().slice(0, 7); track day.toISO(); let i = $index) {
      <app-teamleader-grouped-daily-missions
        [dateOfTheDay]="day.toJSDate()"
        [affectedMissions]="missions()[day.toJSDate().toISOString()]"
        (affectedMissionsChange)="onAffectedMissionsChange(i, $event)"
        [showDate]="showDate()"
        [teamleaderId]="
          teamleader()
            ? day.toJSDate().toISOString() + '_' + teamleader()?.id
            : day.toJSDate().toISOString() + '_unaffected'
        "
        [availableIds]="availableIds()[i]"
      ></app-teamleader-grouped-daily-missions>
    }
  </div>
</div>
