<div class="flex min-h-screen items-center justify-center bg-gray-200">
  <div class="flex w-full max-w-2xl flex-col gap-6 rounded-lg bg-white p-6 shadow-md">
    <div class="flex flex-col gap-2">
      <h2 class="font-inter text-base font-medium">{{ tr.language().NEW_PASSWORD }}</h2>
      <p>{{ tr.language().ENTER_NEW_PASSWORD }}</p>
    </div>

    <form [formGroup]="form" class="flex h-full flex-col gap-6" (ngSubmit)="onSubmit()">
      <!-- Nouveau mot de passe -->
      <div class="flex flex-col gap-3">
        <div class="flex h-full flex-col gap-2">
          <mat-label>{{ tr.language().NEW_PASSWORD }}</mat-label>
          <mat-form-field appearance="outline" class="flex h-full">
            <input
              matInput
              [type]="!showPassword ? 'password' : 'text'"
              formControlName="newPassword"
              placeholder="{{ tr.language().ENTER_PASSWORD }}"
              required
            />

            <button
              mat-icon-button
              matSuffix
              type="button"
              title="{{ showPassword ? tr.language().HIDE_PASSWORD : tr.language().SHOW_PASSWORD }}"
              attr.aria-label="{{ showPassword ? tr.language().HIDE_PASSWORD : tr.language().SHOW_PASSWORD }}"
              (click)="showPassword = !showPassword"
              class="!rounded-full"
            >
              <mat-icon [svgIcon]="showPassword ? 'show' : 'hide'"></mat-icon>
            </button>
            @if (newPasswordControl?.hasError('required')) {
              <mat-error>{{ tr.language().PASSWORD_IS_REQUIRED }}</mat-error>
            }
            @if (newPasswordControl?.hasError('minlength')) {
              <mat-error>{{ tr.language().PASSWORD_LENGTH_INVALID }}</mat-error>
            }
            @if (newPasswordControl?.hasError('pattern')) {
              <mat-error>{{ tr.language().PASSWORD_PATTERN_INVALID }}</mat-error>
            }
          </mat-form-field>
        </div>

        <!-- Confirmation du mot de passe -->
        <div class="flex h-full flex-col gap-2">
          <mat-label for="newPasswordConfirmation">{{ tr.language().PASSWORD_CONFIRMATION }}</mat-label>
          <mat-form-field appearance="outline" class="flex h-full">
            <input
              matInput
              [type]="showConfirmation ? 'text' : 'password'"
              formControlName="newPasswordConfirmation"
              id="newPasswordConfirmation"
              placeholder="{{ tr.language().ENTER_PASSWORD }}"
              required
            />

            <mat-icon
              (click)="showConfirmation = !showConfirmation"
              mat-icon-button
              matSuffix
              (keydown.enter)="showConfirmation = !showConfirmation"
              [svgIcon]="showConfirmation ? 'show' : 'hide'"
              class="password-icon !rounded-full"
            ></mat-icon>

            @if (form.hasError('mismatch') && newPasswordConfirmationControl?.touched) {
              <mat-error>{{ tr.language().PASSWORD_MISMATCH }}</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <!-- Actions -->
      <div class="flex flex-col justify-between gap-3 md:flex-row md:gap-6">
        <button mat-stroked-button type="button" class="h-full md:w-1/2" (click)="backToLogin()">
          {{ tr.language().BACK_TO_LOGIN }}
        </button>

        <button mat-flat-button color="primary" type="submit" class="h-full md:w-1/2" [disabled]="form.invalid">
          {{ tr.language().VALID }}
        </button>
      </div>

      <!-- Erreur globale -->
      @if (errorMessage) {
        <mat-error class="global-error">{{ errorMessage }}</mat-error>
      }
    </form>
  </div>
</div>
