using Microsoft.AspNetCore.Identity;

namespace {{ project_name }}_api.Models
{
    public class ApplicationUserRole : IdentityUserRole<Guid>
    {
        public ApplicationUser User { get; set; }
        public ApplicationRole Role { get; set; }
    }
}
