<div class="flex flex-col">
  <mat-label class="label">{{ field.label }}{{ field.isRequired ? '*' : '' }}</mat-label>
  @if (answerValue) {
    @switch (field.type) {
      @case (FieldType.Text) {
        @if (editMode) {
          <mat-form-field appearance="outline">
            <input
              [readonly]="field.isReadonly || !editMode"
              [disabled]="field.isReadonly || !editMode"
              [ngModel]="answerValue.value"
              (ngModelChange)="onValueChange($event)"
              #inputRef="ngModel"
              type="text"
              matInput
            />
          </mat-form-field>
        } @else {
          <p>{{ answerValue.value }}</p>
        }
      }
      @case (FieldType.NumberInt) {
        @if (editMode) {
          <mat-form-field appearance="outline">
            <input
              [readonly]="field.isReadonly || !editMode"
              [disabled]="field.isReadonly || !editMode"
              #inputRef="ngModel"
              [ngModel]="answerValue.value"
              (ngModelChange)="onValueChange($event)"
              matInput
              type="number"
            />
          </mat-form-field>
        } @else {
          <p>{{ answerValue.value }}</p>
        }
      }
      @case (FieldType.Number) {
        @if (editMode) {
          <mat-form-field appearance="outline">
            <input
              [disabled]="field.isReadonly || !editMode"
              [readonly]="field.isReadonly || !editMode"
              #inputRef="ngModel"
              [ngModel]="answerValue.value"
              (ngModelChange)="onValueChange($event)"
              matInput
              type="number"
            />
          </mat-form-field>
        } @else {
          <p>{{ answerValue.value }}</p>
        }
      }
      @case (FieldType.Date) {
        @if (editMode) {
          <mat-form-field appearance="outline">
            <input
              matInput
              [disabled]="field.isReadonly || !editMode"
              [readonly]="true"
              (focus)="datepicker.open()"
              [ngModel]="answerValue.value"
              (ngModelChange)="onImmediateValueChange($event)"
              #inputRef="ngModel"
              [matDatepicker]="datepicker"
            />
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        } @else {
          <p>{{ answerValue.value | date: 'dd/MM/yyyy' }}</p>
        }
      }
      @case (FieldType.DateRange) {
        @if (editMode) {
          <mat-form-field appearance="outline">
            <mat-date-range-input [disabled]="field.isReadonly || !editMode" [rangePicker]="picker">
              <input
                matStartDate
                [disabled]="field.isReadonly || !editMode"
                [readonly]="true"
                (focus)="picker.open()"
                #inputRef="ngModel"
                [(ngModel)]="answerValue.value.start"
              />
              <input
                matEndDate
                [disabled]="field.isReadonly || !editMode"
                [readonly]="true"
                (focus)="picker.open()"
                [(ngModel)]="answerValue.value.end"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              [disabled]="field.isReadonly || !editMode"
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker [disabled]="field.isReadonly || !editMode" #picker></mat-date-range-picker>
          </mat-form-field>
        } @else {
          <p>{{ answerValue.value.start | date: 'dd/MM/yyyy' }} - {{ answerValue.value.end | date: 'dd/MM/yyyy' }}</p>
        }
      }
      @case (FieldType.Datetime) {
        @if (editMode) {
          <div class="flex gap-2">
            <mat-form-field class="grow" appearance="outline">
              <input
                matInput
                [disabled]="field.isReadonly || !editMode"
                [readonly]="true"
                (focus)="datepicker.open()"
                [(ngModel)]="answerValue.value"
                #inputRef="ngModel"
                [matDatepicker]="datepicker"
              />
              <mat-datepicker [disabled]="field.isReadonly || !editMode" #datepicker />
              <mat-datepicker-toggle [disabled]="field.isReadonly || !editMode" [for]="datepicker" matSuffix />
            </mat-form-field>
            <mat-form-field class="grow" appearance="outline">
              <input
                matInput
                [disabled]="field.isReadonly || !editMode"
                [readonly]="true"
                [(ngModel)]="answerValue.value"
                #inputRef="ngModel"
                [matTimepicker]="timepicker"
              />
              <mat-timepicker #timepicker />
              <mat-timepicker-toggle [disabled]="field.isReadonly || !editMode" [for]="timepicker" matSuffix />
            </mat-form-field>
          </div>
        } @else {
          <p>{{ answerValue.value | date: 'dd/MM/yyyy HH:mm' }}</p>
        }
      }
      @case (FieldType.Time) {
        @if (editMode) {
          <mat-form-field appearance="outline">
            <input
              matInput
              [disabled]="field.isReadonly || !editMode"
              [readonly]="true"
              [(ngModel)]="answerValue.value"
              #inputRef="ngModel"
              [matTimepicker]="timepicker"
            />
            <mat-timepicker-toggle [disabled]="field.isReadonly || !editMode" matIconSuffix [for]="timepicker" />
            <mat-timepicker #timepicker />
          </mat-form-field>
        } @else {
          <p>{{ answerValue.value | date: 'HH:mm' }}</p>
        }
      }
      @case (FieldType.Paragraph) {
        @if (editMode) {
          <mat-form-field appearance="outline">
            <textarea
              [readonly]="field.isReadonly || !editMode"
              [disabled]="field.isReadonly || !editMode"
              #inputRef="ngModel"
              [rows]="5"
              [ngModel]="answerValue.value"
              (ngModelChange)="onValueChange($event)"
              matInput
            ></textarea>
          </mat-form-field>
        } @else {
          <p>{{ answerValue.value }}</p>
        }
      }
      @case (FieldType.Checkbox) {
        <div class="flex w-full flex-wrap gap-2">
          @for (option of field.options; track option) {
            <mat-checkbox
              [disabled]="field.isReadonly || !editMode"
              #inputRef="ngModel"
              [ngModel]="answerValue.value[option.id ?? '']"
              (ngModelChange)="onCheckboxChange(option.id ?? '', $event)"
            >
              {{ option?.label }}
            </mat-checkbox>
          }
        </div>
      }
      @case (FieldType.Select) {
        @if (editMode) {
          <mat-form-field appearance="outline">
            <mat-select
              [disabled]="field.isReadonly || !editMode"
              [ngModel]="answerValue.value"
              (ngModelChange)="onImmediateValueChange($event)"
              #inputRef="ngModel"
            >
              @for (option of field.options; track option) {
                <mat-option [value]="option.id">{{ option.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        } @else {
          <p>{{ selectedValue }}</p>
        }
      }
      @case (FieldType.Radio) {
        <mat-radio-group
          [disabled]="field.isReadonly || !editMode"
          [ngModel]="answerValue.value"
          (ngModelChange)="onImmediateValueChange($event)"
          #inputRef="ngModel"
        >
          @for (option of field.options; track option) {
            <mat-radio-button [value]="option.id">{{ option.label }}</mat-radio-button>
          }
        </mat-radio-group>
      }
      @case (FieldType.Signature) {
        @if (editMode) {
          <app-signature-field
            [disabled]="field.isReadonly || !editMode"
            [answerValue]="answerValue"
            [customFormId]="answerValue?.fieldId || undefined"
            (signatureChange)="onImmediateValueChange($event)"
          ></app-signature-field>
        } @else {
          @if (answerValue.value) {
            @if (typeof answerValue.value === 'object' && answerValue.value.value) {
              <!-- Si c'est un objet avec une propriété value (structure imbriquée) -->
              <app-file-display [file]="answerValue.value.value" [editMode]="false"></app-file-display>
            } @else {
              <!-- Si c'est directement une URL -->
              <app-file-display [file]="answerValue.value" [editMode]="false"></app-file-display>
            }
          }
        }
      }
      @case (FieldType.Photo) {
        <div class="flex flex-col gap-2">
          @if (editMode) {
            <input
              #fileInput
              type="file"
              class="h-12 hover:cursor-pointer"
              [disabled]="field.isReadonly || !editMode"
              [accept]="APP_CONSTANTS.CUSTOM_FORM_ACCEPTED_EXTENSIONS"
              (change)="onFileChange($event)"
            />
            @if (files.length) {
              <div class="flex flex-wrap gap-2">
                @for (file of files; track file; let index = $index) {
                  <app-file-display
                    [file]="file"
                    (fileRemovedEvent)="removeFile(index)"
                    [editMode]="editMode"
                  ></app-file-display>
                }
              </div>
            }
          } @else {
            @for (file of files; track file; let index = $index) {
              <app-file-display [file]="file" [editMode]="false"></app-file-display>
            }
          }
        </div>
      }
      @case (FieldType.PhotoMultiple) {
        <div class="flex flex-col gap-2">
          @if (editMode) {
            <input
              #fileInput
              type="file"
              multiple
              class="h-12 hover:cursor-pointer"
              [disabled]="field.isReadonly || !editMode"
              [accept]="APP_CONSTANTS.CUSTOM_FORM_ACCEPTED_EXTENSIONS"
              (change)="onMultipleFileChange($event)"
            />

            @if (files.length) {
              <div class="flex flex-wrap gap-2">
                @for (file of files; track file; let index = $index) {
                  <app-file-display
                    [file]="file"
                    (fileRemovedEvent)="removeFile(index)"
                    [editMode]="editMode"
                  ></app-file-display>
                }
              </div>
            }
          } @else {
            @for (file of files; track file; let index = $index) {
              <app-file-display [file]="file" [editMode]="false"></app-file-display>
            }
          }
        </div>
      }
      @default {}
    }
    @if (hasError()) {
      <mat-error>{{ hasError() }}</mat-error>
    }
  }
</div>
