<div class="flex w-full flex-row justify-center gap-4">
  <!-- Menu -->
  <div class="sticky top-0 h-fit w-1/5 self-start rounded-md border border-light-gray bg-white">
    <div class="flex w-full flex-col gap-2 divide-y-2 divide-gray-200 px-6 py-4">
      @for (link of links; track link.id; let i = $index) {
        <button mat-button (click)="onLinkClick(link.id)" class="w-full !font-medium" [class.pt-2]="i !== 0">
          <span [class.text-primary]="activeLink() === link.id">
            {{ link.label }}
          </span>
        </button>
      }
    </div>
  </div>
  <!-- Blocs -->
  <div class="flex-1">
    <div class="flex w-full flex-col gap-4">
      @for (link of links; track link.id; let i = $index) {
        <div [id]="link.id" class="w-full rounded-md bg-white p-6 shadow-md">
          <ng-container *ngComponentOutlet="link.component"></ng-container>
        </div>
      }
    </div>
  </div>
</div>
