<div class="grid h-full grid-cols-1 grid-rows-[auto_1fr] gap-6">
  <app-header-list
    [searchTitle]="translateService.language().SEARCH_WITH_DOTS"
    [searchPlaceholderInput]="translateService.language().USER_SEARCH_PLACEHOLDER"
    [textButton]="translateService.language().NEW_USER"
    (onCreateClick)="goToUserDetails('new')"
    (onInputChange)="onSearchInput($event)"
  ></app-header-list>
  <app-datagrid
    #datagrid
    (rowClick)="goToUserDetails($event.id ?? '')"
    [columnDefs]="columnDefs()"
    [data]="usersSignal()?.value ?? []"
    [fetchParamsSignal]="fetchParamsSignal"
    [rowCountSignal]="usersCount"
    datagridName="USERS-LIST"
  ></app-datagrid>
</div>
