<div class="mt-8">
  <div class="container mx-auto flex flex-col gap-5 rounded bg-white p-6 outline outline-1 outline-slate-200">
    <app-detail-topbar
      (back)="goBack()"
      (cancel)="cancelEdition()"
      (submit)="submit()"
      [isArchived]="isArchived()"
      (archiveOrUnarchive)="archiveOrUnarchive()"
      [canDeactivate]="canDeactivate.bind(this)"
      [editMode]="editMode"
      [showBackButton]="!editMode()"
      [submitDisabled]="loading"
      [title]="title()"
      class="w-full"
    ></app-detail-topbar>

    <form [formGroup]="form" class="grid w-full grid-cols-1 gap-4 md:grid-cols-4">
      <!-- Nom -->
      <app-edit-text-field
        [label]="tr.language().USER_FORM_LASTNAME"
        [isEditMode]="editMode"
        [formControl]="lastNameControl"
        [errors]="[FIELD_ERRORS.required]"
      ></app-edit-text-field>

      <!-- Prénom -->
      <app-edit-text-field
        [label]="tr.language().USER_FORM_FIRSTNAME"
        [isEditMode]="editMode"
        [formControl]="firstNameControl"
        [errors]="[FIELD_ERRORS.required]"
      ></app-edit-text-field>

      <!-- Email -->
      <app-edit-text-field
        [label]="tr.language().USER_FORM_EMAIL"
        type="email"
        [isEditMode]="editMode"
        [formControl]="emailControl"
        [errors]="[FIELD_ERRORS.required, FIELD_ERRORS.email]"
      ></app-edit-text-field>

      <!-- Rôle -->
      <app-edit-multi-select-field
        [label]="tr.language().USER_FORM_ROLE"
        [isEditMode]="editMode"
        [formControl]="rolesControl"
        [options]="rolesOptions()"
        [errors]="[FIELD_ERRORS.required]"
      ></app-edit-multi-select-field>

      <app-edit-text-field
        type="color"
        [label]="tr.language().MISSION_TYPE_FORM_COLOR"
        [isEditMode]="editMode"
        [formControl]="colorControl"
        [errors]="[FIELD_ERRORS.required]"
      ></app-edit-text-field>
      @if (isOperator()) {
        <app-edit-select-field
          render="icon"
          [label]="tr.language().TEAMLEADER"
          [isEditMode]="editMode"
          [formControl]="teamLeaderControl"
          [options]="teamLeaders()"
          render="select"
          class="col-span-1"
          [errors]="[FIELD_ERRORS.required]"
        ></app-edit-select-field>
      }
    </form>

    <ng-container *ngIf="entityIdSignal() && entityIdSignal() !== 'new'">
      <mat-divider></mat-divider>
      <div class="flex min-h-[400px] w-full flex-col gap-2">
        <mat-label>{{ tr.language().USER_MISSIONS_HISTORY }}</mat-label>
        <div class="h-[350px] w-full">
          <app-missions-list
            [userId]="entityIdSignal()"
            [dataGridName]="'MISSION_LIST_USER_HISTORY'"
          ></app-missions-list>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="flex min-h-[400px] w-full flex-col gap-2">
        <mat-label>{{ tr.language().ABSENCE }}</mat-label>
        <div class="h-[350px]">
          <app-absences-list [userId]="entityIdSignal()" [dataGridName]="'ABSENCE_LIST_USER'"></app-absences-list>
        </div>
      </div>
    </ng-container>
  </div>
</div>
