<div
  [ngStyle]="{
    'min-width': 'calc(320px + 1.5rem)',
    'max-width': '20rem',
    'background-color': '#F1F5F9',
  }"
  class="rounded-2 h-full shrink-0"
>
  <!-- Header -->
  <div
    cdkDragHandle
    class="flex cursor-grab flex-row items-center justify-between rounded-se rounded-ss p-4"
    [ngStyle]="{ 'background-color': teamleader().color ? teamleader().color : '#00598A' }"
  >
    <div class="flex flex-col gap-1">
      <div class="flex items-center gap-1">
        <mat-icon [svgIcon]="'team'" class="custom-color-icon text-white" style="--custom-color: 'white'"></mat-icon>
        <p class="cursor-pointer font-bold text-white underline" [routerLink]="['/users', teamleader().id]">
          {{ teamleader().firstname }} {{ teamleader().lastname }}
        </p>
      </div>
      <mat-select
        class="custom-operator-select-panel min-w-[170px] max-w-[230px] !p-1"
        [compareWith]="compareById"
        [value]="teamleader().affectedOperators"
        panelClass="custom-operator-select-panel"
        (closed)="affectOperator(select.value)"
        multiple
        #select
        [matTooltip]="tooltipOperators()"
      >
        @for (operator of orderedAvailableOperators(); track operator.userId) {
          <mat-option
            [value]="operator"
            [disabled]="planningService.selectedDateSignal() < planningService.today.startOf('day')"
          >
            {{ operator.fullName }}
          </mat-option>
        }
      </mat-select>
    </div>

    <div class="flex flex-row items-center justify-center gap-1">
      <!-- <mat-icon
        [svgIcon]="'add'"
        class="custom-color-icon cursor-pointer text-white"
        style="--custom-color: 'white'"
      ></mat-icon> -->
      <mat-icon
        [svgIcon]="'track'"
        class="custom-color-icon cursor-pointer text-white"
        style="--custom-color: 'white'"
      ></mat-icon>
      <mat-icon
        [svgIcon]="'show'"
        class="custom-color-icon cursor-pointer text-white"
        style="--custom-color: 'white'"
      ></mat-icon>
    </div>
  </div>
  <!-- Fin Header -->
  <div
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="['unaffected'].concat(userIds())"
    [cdkDropListData]="assignedMissions()"
    [id]="teamleader().id!"
    cdkDropList
    class="bg-planningBg flex h-[500px] flex-col items-center gap-3 overflow-y-auto pt-3"
  >
    @for (mission of assignedMissions(); track mission.id; let i = $index) {
      <div
        cdkDrag
        [cdkDragData]="{ mission }"
        class="row-span-1"
        [cdkDragDisabled]="shouldDisableDrag()"
        [class.cursor-grab]="!shouldDisableDrag()"
      >
        <app-mission-card-daily [mission]="mission" [isMission]="false"></app-mission-card-daily>
      </div>
    }
  </div>
</div>
