using Microsoft.AspNetCore.Mvc;

namespace {{ project_name }}_api.Controllers
{
    /// <summary>
    /// Controller utilitaire pour la version de l'API
    /// </summary>
    [ApiController]
    [Route("")]
    [Produces("application/json")]
    [Consumes("application/json")]
    public class VersionController : ControllerBase
    {
        /// <summary>
        /// Get the version of the API
        /// </summary>
        /// <returns>Version de l'API</returns>
        [HttpGet]
        [Produces("text/plain")]
        public String GetVersion()
        {
            try
            {
                return System.IO.File.ReadAllText("version.json");
            }
            catch (Exception e)
            {
                Console.WriteLine(e.Message);
                return "No version found";
            }
        }
    }
}
