@use 'sass:map';

@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colors-status-success: #28a745;
  --colors-status-information: #f6c90e;
  --colors-status-attention: #ff8c42;
  --colors-status-progress: #008bf8;
  --colors-status-error: #d92339;
  --custom-color: black;
  --custom-color-hover: var(--custom-color);
  --custom-primary: #2670a1;
  --custom-primary-card: #eff5f8;
  --custom-primary-hover: #2670a1ae;
  --custom-secondary: #052f4a;
  --custom-secondary-hover: var(--custom-secondary);
  --custom-tertiary: #d29e47;
  --custom-tertiary-hover: var(--custom-tertiary);
}

$primary: var(--custom-primary);
$primaryHover: var(--custom-primary-hover);
$primaryDisabled: #f0f9ff;

$secondary: var(--custom-secondary);
$secondaryHover: var(--custom-secondary-hover);
$secondaryDisabled: #deb878;

$tertiary: var(--custom-tertiary);
$tertiaryHover: var(--custom-tertiary-hover);
$success: #28a745;
$successHover: #228b3a;
$successDisabled: #e2e8f0;
$successDisabledText: #475569;

$danger: #d92339;
$dangerHover: #b91f31;
$dangerDisabled: #e2e8f0;
$dangerDisabledText: #475569;

@import './styles/_theme-colors.scss';

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

/* Appliquer le scroll-padding sur le vrai conteneur qui scroll */
.overflow-auto {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

@import './styles/material_override.scss';
@import './styles/richtext.scss';
@import './styles/datagrid.scss';
@import './styles/wizard.scss';
@import './styles/buttons.scss';
img,
video {
  max-width: unset;
}

a {
  width: fit-content;
}

nav {
  .mat-mdc-tab-link-container {
    border-bottom: none;
  }
}

.cdk-overlay-pane.mat-mdc-dialog-panel .mat-mdc-dialog-surface {
  background: white !important;
  border-radius: 10px !important;
  padding: 24px;
}

input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

label {
  font-size: small;
  margin-bottom: 5px;
}

.mdc-label {
  margin: 0 !important;
  padding: 0 !important;
}

.category-icon svg {
  fill: white !important;
  color: white !important;
}

.category-icon path {
  fill: white !important;
}

.custom-color-icon svg {
  fill: var(--custom-color) !important;
  color: var(--custom-color) !important;
}

.custom-color-icon path {
  fill: var(--custom-color) !important;
}

.little-icon {
  width: 20px !important;
}

.little-icon svg {
  width: 20px;
}

.big-icon {
  width: 40px !important;
  height: auto !important;
}

.big-icon svg {
  width: 40px;
  height: auto;
}

div.mat-mdc-menu-panel {
  background: white;
  border-radius: 3px;
}

input:-webkit-autofill {
  // Enleve les couleurs de remplissage automatique des inputs lors d'un autocomplete
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

.background {
  position: relative;
  height: 100%;
  z-index: 0;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background-color: #475b52;
}

.background::after {
  content: '';
  position: absolute;
  top: 240px;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #cd8945; /* orange */
}

h2 {
  color: #01303f;
  margin: 0 !important;
}

p {
  color: #141414;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

// style pour les éléments drag and drop
.dragged-item {
  cursor: move;
  box-sizing: border-box;
  &.cdk-drag-preview {
    box-shadow:
      0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    opacity: 0.5;
  }
  &.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
  }
}

// pour cacher le scrollbar
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

// drag N drop
/* L'élément original qu’on est en train de dragger */
.cdk-drag.cdk-drag-dragging {
  opacity: 0.4;
  cursor: grabbing;
}

/* Le preview qui suit la souris */
.cdk-drag-preview {
  border: 2px solid var(--custom-primary);
  border-radius: 8px;
  box-shadow: 0 4px 12px var(--custom-quaternary);
  opacity: 0.6;
}
