<div class="title" mat-dialog-title>{{ tr.language().FORGOT_PASSWORD }} ?</div>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <div class="content" mat-dialog-content>
    <div class="subtitle">{{ tr.language().RESET_PASSWORD_MESSAGE }}</div>
    <div>
      <input id="email" matInput formControlName="email" type="email" placeholder="example@mail.com" />
    </div>
    <div class="errors">
      @if (forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched) {
        <mat-error class="text-sm text-red-500">{{ tr.language().EMAIL_IS_REQUIRED }}</mat-error>
      } @else if (forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordForm.get('email')?.touched) {
        <mat-error class="text-sm text-red-500">{{ tr.language().EMAIL_IS_INVALID }}</mat-error>
      }
    </div>
  </div>
  <div class="footer" mat-dialog-actions>
    <div class="actions">
      <button type="cancel" mat-button (click)="onCancel()">{{ tr.language().CANCEL }}</button>
      <button type="submit" mat-flat-button color="primary" class="primary" [disabled]="forgotPasswordForm.invalid">
        {{ tr.language().SEND }}
      </button>
    </div>
  </div>
</form>
