<div class="flex flex-col gap-4">
  <div class="flex items-center justify-between">
    <span class="flex items-center gap-2 text-lg font-bold">
      <mat-icon svgIcon="types"></mat-icon>
      {{ tr.language().MISSION_TYPE_NAME }}
    </span>

    <button mat-stroked-button color="primary" (click)="goToDetails('new')">
      {{ tr.language().ADD_MISSION_TYPE }}
    </button>
  </div>

  <div class="h-[40vh]">
    <app-datagrid
      #datagrid
      (rowClick)="goToDetails($event.id)"
      [columnDefs]="columnDefs()"
      [data]="missionTypesSignal()"
      [fetchParamsSignal]="fetchParamsSignal"
      [rowCountSignal]="missionTypesCount"
      [datagridName]="datagridName()"
    ></app-datagrid>
  </div>
</div>
