<div [formGroup]="form" class="mt-8 flex flex-col gap-5">
  @if (loading()) {
    <div class="flex h-full items-center justify-center">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  } @else {
    <div class="container mx-auto flex flex-col gap-12 rounded bg-white p-6 outline outline-1 outline-slate-200">
      <app-detail-topbar
        (back)="goBack()"
        (cancel)="cancelEdition()"
        (submit)="submit()"
        [isArchived]="isArchived()"
        (archiveOrUnarchive)="archiveOrUnarchive()"
        [canDeactivate]="canDeactivate.bind(this)"
        [editMode]="editMode"
        [submitDisabled]="loading"
        [title]="title()"
        class="w-full"
      ></app-detail-topbar>

      <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
        <!-- Type de mission -->
        <app-edit-select-field
          render="icon"
          [label]="tr.language().MISSION_TYPE_NAME"
          [placeholder]="tr.language().ENTER_MISSION_TYPE_NAME"
          [isEditMode]="missionTypeEditMode"
          [formControl]="typeControl"
          [options]="missionTypes"
          class="col-span-1"
          [errors]="[FIELD_ERRORS.required]"
        ></app-edit-select-field>

        <!-- Nom -->
        <app-edit-text-field
          [label]="tr.language().MISSION_NAME"
          [placeholder]="tr.language().ENTER_MISSION_NAME"
          [isEditMode]="editMode"
          [formControl]="nameControl"
          class="col-span-1"
          [errors]="[FIELD_ERRORS.required]"
        ></app-edit-text-field>

        <!-- Status -->
        <app-edit-select-field
          render="chip"
          [label]="tr.language().STATUS_NAME"
          [placeholder]="tr.language().ENTER_STATUS_NAME"
          [isEditMode]="editMode"
          [formControl]="statusControl"
          [options]="status"
          class="col-span-1"
          [errors]="[FIELD_ERRORS.required]"
        ></app-edit-select-field>

        <!-- date debut -->
        <app-edit-date-field
          [label]="tr.language().MISSION_START_DATE"
          [placeholder]="tr.language().MISSION_START_DATE"
          [isEditMode]="editMode"
          [formControl]="startDateControl"
          [max]="maxStartDate()"
          class="col-span-1"
          [errors]="[FIELD_ERRORS.required]"
        ></app-edit-date-field>

        <!-- date fin -->
        <app-edit-date-field
          [label]="tr.language().MISSION_END_DATE"
          [placeholder]="tr.language().MISSION_END_DATE"
          [isEditMode]="editMode"
          [formControl]="endDateControl"
          [min]="minEndDate()"
          class="col-span-1"
          [errors]="[FIELD_ERRORS.required]"
        ></app-edit-date-field>

        <!-- Affichage de l'erreur de plage de dates -->
        @if (form.errors?.['dateRange'] && (form.touched || form.dirty)) {
          <div class="col-span-3 text-sm text-red-600">
            {{ FIELD_ERRORS.dateRange.message }}
          </div>
        }

        <!-- chef d'équipe -->
        <div class="flex flex-row items-start gap-2">
          <app-edit-select-field
            [label]="tr.language().MISSION_TEAMLEADER"
            [placeholder]="tr.language().MISSION_TEAMLEADER"
            [isEditMode]="editMode"
            [formControl]="teamLeaderControl"
            [options]="teamLeaders()"
            class="col-span-1"
            [errors]="[FIELD_ERRORS.required]"
          ></app-edit-select-field>
          @if (warningMultiTeamLeader() || warningHoles()) {
            <div
              #tooltipOriginTeamleader
              (mouseenter)="openTooltip(tooltipOriginTeamleader)"
              (mouseleave)="closeTooltip()"
            >
              @if (warningMultiTeamLeader()) {
                <mat-icon class="text-yellow-600">warning</mat-icon>
              }
              @if (warningHoles()) {
                <mat-icon class="text-red-600">trip_origin</mat-icon>
              }
            </div>
          }
        </div>
      </div>
    </div>

    <div class="container mx-auto rounded bg-white p-6 outline outline-1 outline-slate-200">
      <mat-tab-group>
        <!-- Informations -->
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="flex flex-row items-center gap-4">
              <mat-icon class="example-tab-icon">infos</mat-icon>
              <span>{{ tr.language().WIZARD_INFORMATION }}</span>
            </div>
          </ng-template>

          <div class="flex flex-col gap-5 divide-y pt-5">
            <app-address [formControl]="addressControl" [isEditMode]="editMode()"></app-address>

            <!-- Commentaire -->
            <app-edit-textarea-field
              [label]="tr.language().MISSION_COMMENT"
              [placeholder]="tr.language().ENTER_MISSION_COMMENT"
              [isEditMode]="editMode"
              [formControl]="commentControl"
              class="pt-5"
            ></app-edit-textarea-field>
          </div>
        </mat-tab>

        <!-- Formulaires -->
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="flex flex-row items-center justify-center gap-4">
              <mat-icon class="example-tab-icon">assignment</mat-icon>
              <span>{{ tr.language().FORMS }}</span>
            </div>
          </ng-template>
          <div class="pt-5">
            <app-custom-forms-answer-details
              #customFormsComponent
              [missionId]="entityIdSignal()"
              [editMode]="editMode()"
              [customFormsData]="entitySignal()?.customFormResponses || []"
            ></app-custom-forms-answer-details>
          </div>
        </mat-tab>

        <!-- Documents -->
        <mat-tab [disabled]="isNew()">
          <ng-template mat-tab-label>
            <div class="flex h-full flex-row items-center gap-4">
              <mat-icon class="example-tab-icon">folder_close</mat-icon>
              <span>{{ tr.language().MISSION_LIST_DOCUMENTS }}</span>
            </div>
          </ng-template>
          <div class="pt-5">
            <app-list-documents [entityId]="entityIdSignal()" identityType="missions"></app-list-documents>
          </div>
        </mat-tab>

        <!-- Photos -->
        <mat-tab [disabled]="isNew()">
          <ng-template mat-tab-label>
            <div class="flex flex-row items-center gap-4">
              <mat-icon class="example-tab-icon">photo_camera</mat-icon>
              <span>{{ tr.language().PHOTOS }}</span>
            </div>
          </ng-template>
          <div class="pt-5">
            <app-images-carousel [missionId]="entityIdSignal()"></app-images-carousel>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  }
</div>
