.container-card {
  container-type: inline-size;
  container-name: container-card;
}

@container container-card (max-width: 249px) {
  .can-hide {
    display: none;
  }
}

// When the card should take full available space
:host(.full-width) .container-card {
  width: 100%;
  min-width: 100%;
}
