<p>Cordialement,<br>
L'équipe {{ project_name|title }} vous souhaite une excellente journée.</p>

<footer>
    <p><strong>Contact</strong><br>
        Email : <a href="mailto:SAV@bushnell.com">SAV@{{ project_name }}.com</a><br>
        Téléphone : <a href="tel:+33274332353">+33 2 74 33 23 53</a><br>
        Site Web : <a href="https://www.{{ project_name }}-outdoor.com" target="_blank">www.{{ project_name }}-outdoor.com</a>
    </p>
</footer>
</body>
</html>
