<form [formGroup]="form" class="mt-8">
  @if (loading()) {
    <div class="flex h-full items-center justify-center">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  } @else {
    <div class="container mx-auto flex flex-col gap-5 rounded bg-white p-6 outline outline-1 outline-slate-200">
      <app-detail-topbar
        (back)="goBack()"
        (cancel)="cancelEdition()"
        (submit)="submit()"
        [isArchived]="isArchived()"
        (archiveOrUnarchive)="archiveOrUnarchive()"
        [canDeactivate]="canDeactivate.bind(this)"
        [editMode]="editMode"
        [submitDisabled]="loading"
        [title]="title()"
        class="w-full"
      ></app-detail-topbar>

      <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
        <!-- Nom -->
        <app-edit-text-field
          [label]="tr.language().ORDER_NAME"
          [placeholder]="tr.language().ENTER_ORDER_NAME"
          [isEditMode]="editMode"
          [formControl]="nameControl"
          class="col-span-1"
          [errors]="[FIELD_ERRORS.required]"
        ></app-edit-text-field>

        <!-- Client -->
        <app-edit-async-autocomplete-field
          [label]="tr.language().ORDER_CLIENT_NAME"
          [placeholder]="tr.language().ENTER_ORDER_CLIENT_NAME"
          [isEditMode]="editMode"
          [formControl]="clientControl"
          [searchFn]="clientsSearchFn"
          [toOption]="clientToOption"
          class="col-span-1"
          (onSelection)="onClientSelection($event)"
          [errors]="[FIELD_ERRORS.required, FIELD_ERRORS.isNotString]"
        ></app-edit-async-autocomplete-field>

        <!-- Type -->
        <app-edit-select-field
          render="icon"
          [label]="tr.language().ORDER_TYPE_TYPE"
          [isEditMode]="editMode"
          [formControl]="typeControl"
          [options]="typeOptions"
          class="col-span-1"
          [errors]="[FIELD_ERRORS.required]"
        ></app-edit-select-field>

        <!-- Status -->
        <app-edit-select-field
          render="chip"
          [label]="tr.language().ORDER_STATUS_STATUS"
          [isEditMode]="editMode"
          [formControl]="statusControl"
          [options]="statusOptions"
          class="col-span-1"
          [errors]="[FIELD_ERRORS.required]"
        ></app-edit-select-field>
      </div>

      <mat-divider></mat-divider>

      <app-address [formControl]="addressControl" [isEditMode]="editMode()"></app-address>

      <mat-divider></mat-divider>

      <!-- Commentaire -->
      <app-edit-textarea-field
        [label]="tr.language().ORDER_COMMENT"
        [placeholder]="tr.language().ENTER_ORDER_COMMENT"
        [isEditMode]="editMode"
        [formControl]="commentControl"
      ></app-edit-textarea-field>

      <mat-divider></mat-divider>

      <div class="flex min-h-[400px] w-full flex-col gap-2">
        <div class="flex items-center justify-between">
          <mat-label>{{ tr.language().ORDER_MISSIONS }}</mat-label>
          <button
            mat-stroked-button
            type="button"
            (click)="createNewMission()"
            [disabled]="editMode()"
            class="flex max-w-[200px] self-end justify-self-end rounded-md outline outline-2 outline-slate-200"
          >
            {{ tr.language().MISSION_NEW_MISSION }}
          </button>
        </div>
        @if (entityIdSignal() && entityIdSignal() !== 'new') {
          <div class="h-[350px]">
            <app-missions-list
              [commandeId]="entityIdSignal()"
              [dataGridName]="'MISSION_LIST_COMMANDE'"
            ></app-missions-list>
          </div>
        }

        @if (editMode()) {
          <span>{{ tr.language().SAVE_ORDER_MISSIONS }}</span>
        }
      </div>

      <mat-divider></mat-divider>

      <div class="flex w-full flex-col gap-2">
        <div class="pt-5">
          <app-list-documents
            [hideHeader]="false"
            [entityId]="entityIdSignal()"
            identityType="orders"
            [active]="!editMode()"
          ></app-list-documents>
          @if (editMode()) {
            <span>{{ tr.language().SAVE_ORDER_DOCUMENTS }}</span>
          }
        </div>
      </div>
    </div>
  }
</form>
