<div class="flex h-full flex-col gap-2">
  @if (!hideHeader()) {
    <div class="flex items-center justify-between">
      <mat-label>{{ tr.language().ORDER_DOCUMENTS }}</mat-label>
      <button
        mat-stroked-button
        type="button"
        class="flex w-fit self-end justify-self-end"
        (click)="uploadInput.click()"
        [disabled]="!active()"
      >
        <span>{{ tr.language().MISSION_ADD_DOCUMENT }}</span>
      </button>
    </div>
  }
  <div class="flex w-full">
    <app-datagrid
      [data]="documents()"
      [columnDefs]="columnDefs()"
      [rowCountSignal]="documentsCount"
      [fetchParamsSignal]="fetchParamsSignal"
      [paginationEnabledSignal]="paginationEnabledSignal"
      datagridName="MISSION-DOCUMENTS"
      (rowClick)="onEditRow($event)"
      class="w-full flex-1"
    ></app-datagrid>
  </div>
  @if (hideHeader()) {
    <div class="flex items-center justify-start">
      <button
        mat-stroked-button
        type="button"
        class="flex w-fit self-end justify-self-end"
        (click)="uploadInput.click()"
        [disabled]="!active()"
      >
        <span>{{ tr.language().MISSION_ADD_DOCUMENT }}</span>
      </button>
    </div>
  }
</div>
<input #uploadInput type="file" hidden [accept]="allowedDocumentExtensions" (change)="onFileChange($event)" />
