<form
  [formGroup]="form"
  class="container mx-auto mt-8 flex flex-col gap-4 divide-y divide-slate-200 rounded bg-white p-6 outline outline-1 outline-slate-200"
>
  <div class="flex flex-col gap-4 pt-4">
    <app-detail-topbar
      (back)="goBack()"
      (cancel)="cancelEdition()"
      (submit)="submit()"
      [isArchived]="isArchived()"
      (archiveOrUnarchive)="archiveOrUnarchive()"
      [canDeactivate]="canDeactivate.bind(this)"
      [editMode]="editMode"
      [submitDisabled]="loading"
      [title]="title()"
      class="w-full"
    ></app-detail-topbar>

    <div class="grid grid-cols-3 gap-4">
      <app-edit-text-field
        [label]="tr.language().MISSION_TYPE_FORM_NAME"
        [isEditMode]="editMode"
        [formControl]="nameControl"
        [errors]="[FIELD_ERRORS.required]"
      ></app-edit-text-field>

      <app-edit-text-field
        type="color"
        [label]="tr.language().MISSION_TYPE_FORM_COLOR"
        [isEditMode]="editMode"
        [formControl]="colorControl"
        [errors]="[FIELD_ERRORS.required]"
      ></app-edit-text-field>

      <app-edit-select-field
        render="icon"
        [label]="tr.language().MISSION_TYPE_FORM_ICON"
        [isEditMode]="editMode"
        [formControl]="iconControl"
        [options]="iconOptions"
        [errors]="[FIELD_ERRORS.required]"
      ></app-edit-select-field>
    </div>
  </div>

  <div class="flex flex-col gap-4 pt-4">
    <div class="flex w-full items-center justify-between">
      <span class="font-semibold text-secondary">
        {{ tr.language().ASSOCIATED_CUSTOM_FORMS }}
      </span>

      <button
        mat-button
        type="button"
        color="primary"
        (click)="goToCustomFormDetails('new')"
        [disabled]="editMode() ? !form.valid : false"
      >
        <mat-icon>add</mat-icon>
        {{ tr.language().ASSOCIATE_CUSTOM_FORM }}
      </button>
    </div>

    <div class="h-[40vh]">
      <app-datagrid
        #datagrid
        (rowClick)="goToCustomFormDetails($event.id)"
        [columnDefs]="columnDefs()"
        [data]="customFormsSignal()"
        [fetchParamsSignal]="fetchParamsSignal"
        [rowCountSignal]="customFormsCount"
        [datagridName]="datagridName()"
        [paginationEnabledSignal]="paginationEnabledSignal"
      ></app-datagrid>
    </div>
  </div>
</form>
