<div class="title font-bold" mat-dialog-title>{{ tr.language().DEACTIVATE_TITLE }}</div>
<div>
  <div class="mb-5" mat-dialog-content>
    <div class="text-sm">
      {{ tr.language().DEACTIVATE_MESSAGE }}
    </div>
  </div>
  <div class="flex w-full justify-center gap-2" mat-dialog-actions>
    <button mat-stroked-button type="button" class="primary" (click)="onCancel()">
      {{ tr.language().DEACTIVATE_CANCEL }}
    </button>
    <button mat-flat-button type="submit" class="primary" (click)="onSubmit()">
      {{ tr.language().DEACTIVATE_LEAVE }}
    </button>
  </div>
</div>
