<div class="grid h-full grid-cols-1 grid-rows-[auto_1fr] gap-6">
  <app-header-list
    [searchTitle]="translateService.language().SEARCH_WITH_DOTS"
    [searchPlaceholderInput]="translateService.language().CLIENT_SEARCH_PLACEHOLDER"
    [textButton]="translateService.language().NEW_CLIENT"
    (onCreateClick)="goToClientDetails('new')"
    (onInputChange)="onSearchInput($event)"
  ></app-header-list>
  <app-datagrid
    #datagrid
    (rowClick)="goToClientDetails($event.id)"
    [columnDefs]="columnDefs()"
    [data]="clientsSignal()?.value ?? []"
    [fetchParamsSignal]="fetchParamsSignal"
    [rowCountSignal]="clientsCount"
    datagridName="CLIENTS-LIST"
  ></app-datagrid>
</div>
