using Microsoft.AspNetCore.OData.Extensions;
using Microsoft.AspNetCore.OData.Query;
using Microsoft.OData.ModelBuilder;

namespace {{ project_name }}_api.DTOs
{
    public class FilterPost<T>
    {
        public string? Filter { get; set; }

        /// <summary>
        /// Generer les options de filtre qui sont envoyées dans le body de la requête
        /// pour éviter les erreurs de taille de requête
        /// </summary>
        /// <param name="httpContext"></param>
        /// <returns></returns>
        public ODataQueryOptions<T> GenerateOptions(HttpContext httpContext)
        {
            // Build up the OData query parameters
            var odataPath = httpContext.Request.ODataFeature().Path;
            var modelBuilder = new ODataConventionModelBuilder();
            modelBuilder.AddEntityType(typeof(T));
            var edmModel = modelBuilder.GetEdmModel();
            var oDataQueryContext = new ODataQueryContext(edmModel!, typeof(T), odataPath);

            // Vérification que Filter n'est ni null ni vide
            if (!string.IsNullOrWhiteSpace(Filter))
            {
                // create ODataQueryOptions from filter
                if (httpContext.Request.QueryString.HasValue)
                {
                    // concatener les filtres
                    httpContext.Request.QueryString = new QueryString(httpContext.Request.QueryString.Value + "&$Filter=" + Filter);
                }
                else
                {
                    httpContext.Request.QueryString = new QueryString("?$filter=" + Filter);
                }
            }

            return new ODataQueryOptions<T>(oDataQueryContext, httpContext.Request);
        }
    }
}