.title {
  font-size: large;
  font-weight: bold;
}

.subtitle {
  font-size: medium;
  margin-bottom: 20px;
}

.content {
}

.footer {
  width: 100%;

  .actions {
    text-align: center;

    button {
      margin-left: 10px;
    }
  }
}
