.container-image-carousel {
  container-type: inline-size;
}
@container (max-width: 640px) {
  .small-hidden {
    display: none;
  }
  .navigation-container {
    flex-grow: 1;
  }
}
.small-hidden {
  padding-left: 0.5rem;
}
