<form
  [formGroup]="form"
  class="container mx-auto mt-8 flex flex-col gap-4 divide-y divide-slate-200 rounded bg-white p-6 outline outline-1 outline-slate-200"
>
  <div class="flex flex-col gap-4 pt-4">
    <app-detail-topbar
      (back)="goBack()"
      (cancel)="cancelEdition()"
      (submit)="submit()"
      [isArchived]="isArchived()"
      (archiveOrUnarchive)="archiveOrUnarchive()"
      [canDeactivate]="canDeactivate.bind(this)"
      [editMode]="editMode"
      [submitDisabled]="loading"
      [title]="title()"
      class="w-full"
    ></app-detail-topbar>

    <div class="grid grid-cols-3 gap-4">
      <app-edit-text-field
        [label]="tr.language().CUSTOM_FORM_NAME"
        [isEditMode]="editMode"
        [formControl]="nameControl"
        [errors]="[FIELD_ERRORS.required]"
      ></app-edit-text-field>

      <app-edit-text-field
        type="color"
        [label]="tr.language().CUSTOM_FORM_COLOR"
        [isEditMode]="editMode"
        [formControl]="colorControl"
        [errors]="[FIELD_ERRORS.required]"
      ></app-edit-text-field>

      <app-edit-select-field
        render="icon"
        [label]="tr.language().CUSTOM_FORM_ICON"
        [isEditMode]="editMode"
        [formControl]="iconControl"
        [options]="iconOptions"
        [errors]="[FIELD_ERRORS.required]"
      ></app-edit-select-field>
    </div>
  </div>

  <div class="flex flex-col gap-4 pt-4">
    <span class="font-semibold">
      {{ tr.language().FORM }}
    </span>

    <app-custom-form-builder
      [customFormStructure]="customFormStructureSignal()"
      [editMode]="editMode()"
      [showFieldTypePanel]="true"
      (formStructureChange)="onFormStructureChange($event)"
    ></app-custom-form-builder>
  </div>

  <div class="flex flex-col gap-4 pt-4">
    <span class="font-semibold">
      {{ tr.language().FILE_EXPORT }}
    </span>

    <div class="flex gap-4">
      <button mat-stroked-button color="primary" class="w-1/5">
        {{ tr.language().GENERATE_EXPORT_FILE }}
      </button>
      <button mat-stroked-button color="primary" class="w-1/5">
        {{ tr.language().IMPORT_EXPORT_FILE }}
      </button>
    </div>
  </div>
</form>
