@if (!isMapView()) {
  <app-datagrid
    #datagrid
    (rowClick)="goToMissionDetails($event.id)"
    [columnDefs]="columnDefs()"
    [data]="missionsSignal()?.value ?? []"
    [fetchParamsSignal]="fetchParamsSignal"
    [rowCountSignal]="missionsCount"
    [datagridName]="dataGridName()"
  ></app-datagrid>
} @else {
  <div class="map-view relative h-full w-full">
    <div class="absolute left-0 top-[12px] h-[50px] w-full px-12" style="z-index: 1000">
      <app-datagrid-header-only
        [columnDefs]="columnDefsMapView()"
        [fetchParamsSignal]="fetchParamsSignal"
        [rowCountSignal]="missionsCount"
        [datagridName]="dataGridName()"
        (back)="onClickBack()"
      ></app-datagrid-header-only>
    </div>
    <app-map-view [addresses]="missionsAddressesSignal()?.value ?? []" />
  </div>
}
