.previous-next-week-planning:first-child {
  border: 1px solid #fff !important;

  @apply rounded-r-none !important;
}

.previous-next-week-planning:last-child {
  border: 1px solid #fff !important;
  @apply rounded-l-none !important;
}
