using Microsoft.EntityFrameworkCore.Storage.ValueConversion;

namespace {{ project_name }}_api.Utilities;

public class CustomDateTimeConversion : ValueConverter<DateTimeOffset, DateTime>
{
    public CustomDateTimeConversion()
        : base(
            // Convert DateTimeOffset to UTC DateTime for storage
            dto => dto.UtcDateTime,

            // Convert UTC DateTime from DB to DateTimeOffset (UTC)
            dt => new DateTimeOffset(DateTime.SpecifyKind(dt, DateTimeKind.Utc))
            //dt => dt.ToLocalTime()
        )
    {
    }
}
