using System.Collections.Generic;
using System.Threading.Tasks;

namespace {{ project_name }}_api.EmailTemplates
{

    public class EmailGenerator
    {
        /// <summary>
        /// Genere le corps d'un email generique en inserant dynamiquement l'en-tete et le pied de page.
        /// </summary>
        private static async Task<string> GetEmailBodyAsync(string templateName, Dictionary<string, string?> variables = null)
        {
            variables ??= new Dictionary<string, string>();

            // Charger l'en-tete et le pied de page
            string header = await EmailTemplateLoader.LoadTemplateAsync("email_header.html");
            string footer = await EmailTemplateLoader.LoadTemplateAsync("email_footer.html");

            // Ajouter header et footer aux variables dynamiques
            variables["header"] = header;
            variables["footer"] = footer;

            // Generer l'email avec le template specifie
            return await EmailTemplateLoader.GenerateEmailAsync(templateName, variables);
        }

        public static async Task<string> GetConfirmEmailTemplateAsync(string confirmationLink, string passwordSection)
        {
            var variables = new Dictionary<string, string>
                {
                    { "confirmationLink", confirmationLink },
                    { "passwordSection", passwordSection }
                };

            return await GetEmailBodyAsync("email_confirm.html", variables);
        }

        public static async Task<string> GetForgotPasswordTemplateAsync(string resetLink)
        {
            var variables = new Dictionary<string, string>
                {
                    { "resetLink", resetLink }
                };

            return await GetEmailBodyAsync("email_forgot_password.html", variables);
        }

        public static async Task<string> GetNoFileFoundTemplateAsync()
        {
            return await GetEmailBodyAsync("email_file_not_found.html");
        }

        public static async Task<string> GetImportSummaryTemplateAsync(Dictionary<string, string> variables)
        {
            return await GetEmailBodyAsync("email_import_summary.html", variables);
        }
        public static async Task<string> GetNewRequestTemplateAsync(string link)
        {
            var variables = new Dictionary<string, string>
            {
                { "link", link }
            };
            return await GetEmailBodyAsync("email_new_request.html", variables);
        }
        
        public static async Task<string> GetEmailStatusChangeAsync(string link, string? message)
        {
            var variables = new Dictionary<string, string?>
            {
                { "link", link },
                { "message", message }
            };
            return await GetEmailBodyAsync("email_status_change.html", variables);
        }
    }

}
