<div class="mt-8">
  <div class="container mx-auto flex flex-col gap-5 rounded bg-white p-6 outline outline-1 outline-slate-200">
    <app-detail-topbar
      (back)="goBack()"
      (cancel)="cancelEdition()"
      (submit)="submit()"
      [isArchived]="isArchived()"
      (archiveOrUnarchive)="archiveOrUnarchive()"
      [canDeactivate]="canDeactivate.bind(this)"
      [editMode]="editMode"
      [showBackButton]="!editMode()"
      [showArchiveButton]="false"
      [submitDisabled]="loading"
      [title]="title()"
      class="w-full"
    ></app-detail-topbar>

    <form [formGroup]="form" class="grid grid-cols-1 gap-4 md:grid-cols-4">
      <!-- Entreprise -->
      <app-edit-text-field
        [label]="tr.language().CLIENT_FORM_COMPANY"
        [isEditMode]="editMode"
        [formControl]="companyControl"
        [errors]="[FIELD_ERRORS.required]"
      ></app-edit-text-field>

      <!-- Nom du contact -->
      <app-edit-text-field
        [label]="tr.language().CLIENT_FORM_CONTACT_NAME"
        [isEditMode]="editMode"
        [formControl]="contactNameControl"
      ></app-edit-text-field>

      <!-- Email -->
      <app-edit-text-field
        [label]="tr.language().CLIENT_FORM_EMAIL"
        type="email"
        [isEditMode]="editMode"
        [formControl]="emailControl"
        [errors]="[FIELD_ERRORS.required, FIELD_ERRORS.email]"
      ></app-edit-text-field>

      <!-- Téléphone -->
      <app-edit-text-field
        [label]="tr.language().CLIENT_FORM_PHONE"
        type="tel"
        [isEditMode]="editMode"
        [formControl]="phoneControl"
        [errors]="[FIELD_ERRORS.phoneNumber]"
      ></app-edit-text-field>
    </form>

    <mat-divider></mat-divider>

    <app-address [formControl]="addressControl" [isEditMode]="editMode()"></app-address>

    @if (entityIdSignal() && entityIdSignal() !== 'new') {
      <mat-divider></mat-divider>

      <div class="flex min-h-[400px] w-full flex-col gap-2">
        <mat-label class="filed-label !text-secondary">{{ tr.language().ORDERS }}</mat-label>

        <div class="h-[40vh]">
          <app-datagrid
            #datagrid
            (rowClick)="goToOrderDetails($event.id)"
            [columnDefs]="columnDefs()"
            [data]="ordersSignal()"
            [fetchParamsSignal]="fetchParamsSignal"
            [rowCountSignal]="ordersCount"
            [datagridName]="datagridName()"
            [paginationEnabledSignal]="paginationEnabledSignal"
          ></app-datagrid>
        </div>
      </div>
    }
  </div>
</div>
