{
  "semi": true,
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "bracketSpacing": true,
  "tailwindConfig": "./tailwind.config.js",
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore"
}
